[user]
 name = Kalle Paulsson
 email = kalle.paulsson@skolon.com
	signingkey = D7F25688921FE3F7
[push]
	autoSetupRemote = true
[init]
	defaultBranch = main
[core]
  excludeFile = $HOME/git/ignore
	editor = nvim
[alias]
	wip = "!f() { \
		git stash -u -m $1; \
		}; f"

[commit]
	gpgsign = true
